* {
  font-family: "avenir";
}

*:focus {
  outline: none;
}

#sunsama {
  text-decoration: none;
  font-size: 50px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-family: "Avenir";
}

hr {
  border-color: #444a4c;
  margin: 100px 100px 0px 100px;
}

#img_left {
  margin-left: 100px;
  margin-right: 90px;
  margin-top: 100px;
  float: left;
  height: 483px;
}

#img_right {
  margin-left: 45px;
  margin-right: 70px;
  margin-top: 100px;
  float: right;
  height: 483px;
}

.sunsama {
  color: rgb(255, 255, 255);
  font-family: "Avenir";
}

.App {
  font-family: "Avenir";
  margin: 0px;
  padding: 0px;
}

.Nav_bar {
  display: flex;
  position: absolute;
  top: 0;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding: 17px;
  border-bottom: #2c2c2c solid 1px !important;
  background: #141415;
  color: #909090;
  margin-bottom: 3vh;
}

.Logo {
  color: rgb(255, 255, 255);
  font-family: "Megrim";
  font-weight: 800;
  font-size: 30px;
}

#logo {
  box-shadow: 0px 0px 50px black;
  background-color: #232526;
  border-radius: 100px;
  padding: 10px 30px;
}

.Title {
  margin-top: 130px;
  font-family: "Avenir";
  font-weight: 800;
  font-size: 30px;
}

.Nav_links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Text_container {
  color: white;
  margin: auto;
  padding: 0px 30px;
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding-bottom: 200px;
  height: fit-content;
  background: #232526;
}

.Img_caption {
  text-align: left;
  font-size: 20px;
  margin-right: 40px;
  font-family: "avenir";
}

.Basic_text {
  padding: 0px 50px;
  margin: 40px 2vh;
  font-size: 20px;
  font-family: "avenir";
}

.Sign_up {
  margin-top: 50px;
  font-family: "Avenir";
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 0px 4px 4px 0px;
  background-color: rgb(82, 199, 137);
  border: solid 1px rgb(82, 199, 137);
  padding: 16px 24px;
}

#emailInput {
  border-radius: 4px 0px 0px 4px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(219, 219, 219);
  text-align: left;
  background-color: #222526;
  border: 1px solid #4b5054;
}

.Full_page_container {
  background-color: #232526;
  background-image: url(../src/Desktop_1.svg);
  background-size: 500px;
  width: 100%;
  padding-bottom: 10 0px;
  height: 100%;
}

.caption_Left {
  font-size: 52px;
  margin-top: 100px;
  text-align: left;
}

#Landing_image1 {
  margin: auto;
  text-align: left;
  align-items: center;
  align-content: center;
  margin-top: 200px;
}

#Landing_image2 {
  margin: auto;
  text-align: left;
  align-items: center;
  align-content: center;
  margin-top: 0px;
}

#caption2 {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}
